@font-face {
    font-family: "spinner";
    src: url('./spinner.ttf') format("truetype");
}

@font-face {
    font-family: "Cutive-Regular";
    src: url('./Cutive-Regular.ttf') format("truetype");
}

body {
    font-family: sans-serif;
}

h1 {
    font-family: "spinner";
}

.full {
    width: 80%;
    margin: 0 auto;
}

.mixing-deck {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    background-color: #ccc;

    .card-canvas-container {
        flex-grow: 2;
        overflow: hidden;
    }

    .card-widgets {
        flex-grow: 1;

        form.card-widgets-root {
            display: flex;
            flex-flow: column;
            flex-wrap: nowrap;
            flex-basis: content;
            min-height: 1em;
            margin: 1em;
        }
    }
}
